@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.icon-button:hover {
  background-color: #d1f9e2; /* Light green color */
}

.glass {
  background: rgba(194, 221, 199, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(194, 221, 199, 0.3);
}

.cart-button:hover {
  background-color: #d1f9e2;
}

.glass:hover {
  background-color: #dff7e9;
  transition: background-color 0.3s ease;
}
